@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
	padding: 10px;
	border-radius: 1em;
	height: 380px;
	width: 400px;
	margin: auto;
	background-color: lightgreen;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px, rgba(0, 0, 0, 0.25) 0px 6px 6px;
}

.display-box {
	font-family: 'Orbitron' sans-serif;
	background-color: lightblue;
	border: solid black 0.5px;
	color: black;
	border-radius: 5px;
	width: 100%;
	height: 65%;
}

#btn {
	background-color: lightseagreen;
}

input[type=button] {
	font-family: 'Orbitron', sans-serif;
	background-color: floralwhite;
	color: black;
	border: solid black 0.5px;
	width: 100%;
	height: 75%;
	outline: none;
}

input:active[type=button] {
	background: blueviolet;
	/*-webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;*/
    box-shadow: inset 0px 0px 5px #c1c1c1;
}